.personalCare-head{
    padding-top: 50px;
    
    text-align: center;
}
.personalCare{
   margin-left: 80px;
    display: inline-block;
}
.personalcare-link{
    color: black;
}
.personalCare-products{
    width: 300px;
    height: 350px;
    margin-left: 80px;
    margin-top: 50px;
    transition: transform 0.2s ease-in-out;
    display: grid;
    grid-template-columns: repeat(3fr, 1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid lightgreen;
    border-radius: 5px ;
}
.personalCare-products:hover{
    transform: scale(1.1);
}
.personalCare-products img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 20px;
}


.personalCare-products p{
    text-decoration: line-through;
    display: inline-block;
    padding-left: 50px;
    padding-top: 10px;
}
.personalCare-products h3{
    display: inline-block;
    padding-left: 50px;
    padding-top: 10px;
}

.personalCare-products h2{
    text-align: center;
    padding-top: 15px;
}
.personalCare-products button{
    background-color: lightgreen;
    border: none;
    padding: 7px;
    margin-left: 110px;
}
.search{
    margin-top: 40px;
    width: 250px;
    border-radius: 100px;
    padding: 5px;
}

@media  screen and (max-width: 360px)  {
    .personalCare{
        margin-left: 15px;
        display: inline-block;
        width: 40%;
    }
    .personalCare-products{
        width:100%;
        height: 300px;
        margin-left: 10px;
        margin-top: 50px;
    }
    .personalCare-products img{
        width: 100px;
        height: 120px;
        margin-left: 20px;
        margin-right: 10px;
    }
    .personalCare-products{
        width: 100%;
        height: 160px;
    }
    .personalCare-products p{
        display: none;
    }
    .personalCare-products h3{
        padding-left: 30px;
        margin-top: -35px;
    }
    .personalCare-products button{
        margin-left: 30px;
    }
}