.products-heading{
    text-align: center;
}
.productdetails-nav{
    width: 100%;
    height: 55px;
    background-color: lightgreen;
   
}
.productdetails-nav ul{
    display: inline-block;
    margin-left: 150px;
}
.productdetails-nav ul li{
    display: inline-block;
    padding-left: 100px;
}
.productdetails-nav ul li:hover{
    text-decoration: underline solid black;
}
.productdetails-nav ul Link{
    color: black;
}
.Product-details{
    width: 1460px;
    height: 800px;
    background-color:whitesmoke;
    margin-top: 50px;
    margin-left: 30px;
    display: flex;

}
.Product-details-1{
    width: 680px;
    height: 800px;
    
    display:flex;
    margin-left: 0px;
    flex-direction: column;
}
.Product-details-2{
    width: 680px;
    height: 800px;
    
    display:flex;
    flex-direction: column;
    margin-left: 50px;
}
.Product-details-1 img{
    width: 400px;
    height: 450px;
    margin-left: 130px;
    margin-top: 20px;
}
.Product-details-1 p{
    padding-left: 130px;
    width: 400px;
}
.Product-details-1 h3{
    padding-left: 130px;
    width: 400px;
}
.rate-btn{
    display:flex;
    width: 35px;
}
.Product-details-2 p{
    display: flex;
    padding-left: 70px;
    margin-top: -22px;
}


.products-price{
    margin-top: -50px;
    text-decoration: line-through;
    padding-left: 170px;
}
.product-input1{
    width: 50px;
    margin-left: 250px;
    margin-top: -40px;
}
.product-input2{
    width: 400px;
    margin-left: 150px;
    margin-top: -40px;
}
.product-from{
    margin-top: 20px;
}
.product-order{
    margin-top: 20px;
}
.input-type11{
   border: none;
   background: transparent;
}
.input-type1{
    width: 30px;
    margin-left: 30px;
 }
.input-type2{
    width: 80px;
    margin-left: 30px;
    border: none;
    background: transparent;
 }
 .input-type3{
    width: 450px;
    margin-left: 30px;
 }
 .sub-btn{
    background-color: lightgreen;
    border: none;
    margin-top: 20px;
    padding: 7px;
 }

@media  screen and (max-width: 360px) {
    .productdetails-nav{
        display: none;
    }
    .Product-details{
        display: block;
        width: 90%;
        height: 1300px;
        margin-left: 10px;
    }
    .Product-details-1{
        width: 90%;
    }
    .Product-details-1 img{
        width: 60%;
        height: 25%;
        margin-left: 60px;
        margin-top: 20px;
    }
    .Product-details-1 p{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .Product-details-1 h3{
       padding-left: 100px;
    }
    .Product-details-2{
        width: 90%;
        margin-left: 15px;
        margin-top: -300px;
        margin-right: 15px;
    }
    .input-type3{
        width: 80%;
       margin-top: 15px;
       margin-left: 0px;
     }
}

