.adminpanel{
    width: 100%;
    
    display: flex;
}
.adminpanel-left{
    width: 200px;
    height:800px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 
}
.admin-btn{
    
    border: none;
    background: transparent;
    background-color: white;
   
    margin-top: 15px;
    
}
.adminpanel-left h2{
    padding-left: 15px;
}
.adminpanel-left p{
    padding-left: 15px;
}
.adminpanel-right{
    width: 1400px;
   
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.adminpanel-right h1{
    text-align: center;
}
.logout-code{
    width: 60px;
    padding: 7px;
    border: none;
    background-color: lightgreen;
    margin-top: 30px;
    margin-left: 50px;
}

@media  screen and (max-width: 360px) {
    .adminpanel{
        width: 100%;
        display: block;
    }
    .adminpanel-left{
        width: 100%;
        display: block;
        margin-top: -20px;
        height: 220px;
    }
    .admin-btn{
        display: block;
    }
    .adminpanel-right{
        width: 100%;
       display: block;
       margin-top: 70px;
     
    }
    .adminpanel-left h2{
        padding-top: 20px;
    }
    .adminpanel-left p{
        padding-top: 10px;
    }
    .logout-code{
        position: absolute;
        margin-top: -145px;
        margin-left: 80%;
    }
}